common --enable_bzlmod

build --java_runtime_version=remotejdk_11

# Don't even look for a local toolchain.
build --repo_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1

build --incompatible_enable_cc_toolchain_resolution
